# API
PORT=3000
BASE_URL=coloque-aqui-a-url-do-servidor-da-api-com a-porta

# Banco de dados
MONGODB_URI=mongodb://127.0.0.1:27017/nova-gestao-de-alunos

# JWT
JWT_SECRET=troque-este-segredo-em-ambientes-reais

# Credenciais usadas pelos testes externos
ADMIN_EMAIL=coloque-aqui-o-email-do-admin
ADMIN_SENHA=coloque-aqui-a-senha-do-admin
ALUNO_EMAIL=joao.victor@example.com
ALUNO_SENHA=123456